* {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#nova {
  padding: 20px 0;
}
.nova {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nova h1 {
  color: rgb(87, 75, 75);
  font-size: 63px;
  font-weight: 400;
  line-height: 83.2px;
  text-align: left;
}
.nova_text {
  position: relative;
  border-top: 1px solid black;
  width: 1160px;
  padding: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nova_text p {
  /* position: absolute; */
  width: 645px;
  height: 47px;
  left: 80px;
  top: 41px;
  color: rgb(87, 75, 75);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}
.nova_text .p2 {
  color: rgb(87, 75, 75);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  width: 360px;
}

.nova_text img {
  /* position: absolute; */
  width: 700px;
  height: 532px;
  left: -100px;
  top: -16px;
}
